---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey, you!</h1>
			<p>
				This is a space for the O'Meally family to exist online. Its a way to combine all of the things that would go on socials, and things that we want to exist in perpituity.
			</p>
			<p>It is built and maintained by Nile O'Meally. If you want to chat about it, reach out by email at nile@omeally.me.</p>
		</main>
		<Footer />
	</body>
</html>
